<header class="header">
    <div class="text-box">
      <h1 class="heading-primary text-secondary">
        <span class="heading-primary-main">Welcome </span>
        <span class="heading-primary-sub"><strong><%= current_user.name%></strong></span>
      </h1>

      <h3><%= link_to "Create Post", posts_path %></h3>
    </div>
</header>